/.vagrant/
/.project
/vagrant.retry
/roles/
/provision/roles/
/provision/.roles/
/roles/virtualbox/meta/.galaxy_install_info
/roles/vagrant/meta/.galaxy_install_info
/.gradle/
/provision/playbook.retry
/tests/vagrant.retry
/ansible/local-development.retry
/tests/e2e/.settings/
/tests/e2e/target
/.settings
.idea/
/ansible/port-forward.retry
/build/
/nohup.out
/local-jrebel.log
/settings.xml
/provision/.gradle/
/target/
*.iml
/buildSrc/.gradle
/buildSrc/build
/buildSrc/bin
/out
/bin/
/.classpath
/LOG_FILE_IS_UNDEFINED
/ansible/
/keys/
/tests/
/Vagrantfile
